.scrollToTop {
  background-color: rgb(25, 61, 163);
  color: #fff;
}
.scrollToTop:hover,
.scrollToTop:focus {
  background-color: #fff;
  color: rgb(25, 61, 163);
  border-color: 1px solid rgb(25, 61, 163);
}
.logo > span {
  color: rgb(25, 61, 163);
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: rgb(25, 61, 163);
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: rgb(25, 61, 163);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: rgb(25, 61, 163);
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgb(25, 61, 163);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: rgb(25, 61, 163);
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgb(25, 61, 163);
}
.latest_newsarea span {
  background: none repeat scroll 0 0 rgb(25, 61, 163);
}
.latest_post > h2 span {
  background: none repeat scroll 0 0 rgb(25, 61, 163);
}
#prev-button {
  color: rgb(25, 61, 163);
}
#next-button {
  color: rgb(25, 61, 163);
}
.single_post_content > h2 span {
  background: none repeat scroll 0 0 rgb(25, 61, 163);
}
.single_sidebar > h2 span {
  background: none repeat scroll 0 0 rgb(25, 61, 163);
}
.bsbig_fig figcaption a:hover {
  color: rgb(25, 61, 163);
}
.spost_nav .media-body > a:hover {
  color: rgb(25, 61, 163);
}
.cat-item a:hover {
  background-color: rgb(25, 61, 163);
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: rgb(25, 61, 163);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: rgb(25, 61, 163);
}
.single_sidebar > ul > li a:hover {
  color: rgb(25, 61, 163);
}
.footer_widget > h2:hover {
  color: rgb(25, 61, 163);
}
.tag_nav li a:hover {
  color: rgb(25, 61, 163);
  border-color: rgb(25, 61, 163);
}
.copyright a:hover {
  color: rgb(25, 61, 163);
}
.post_commentbox a:hover,
.post_commentbox span:hover {
  color: rgb(25, 61, 163);
}
.breadcrumb {
  border-left: 10px solid rgb(25, 61, 163);
}
.single_page_content ul li:before {
  background-color: rgb(25, 61, 163);
}
.single_page_content h2,
.single_page_content h3,
.single_page_content h4,
.single_page_content h5,
.single_page_content h6 {
  color: rgb(25, 61, 163);
}
.nav-slit .icon-wrap {
  background-color: rgb(25, 61, 163);
}
.nav-slit h3 {
  background: rgb(25, 61, 163);
}
.catgArchive {
  background-color: rgb(25, 61, 163);
}
.error_page > h3 {
  color: rgb(25, 61, 163);
}
.error_page > span {
  background: none repeat scroll 0 0 rgb(25, 61, 163);
}
.error_page > a {
  background-color: rgb(25, 61, 163);
}
.contact_area > h2 {
  background-color: rgb(25, 61, 163);
}
.contact_form input[type="submit"] {
  background-color: rgb(25, 61, 163);
}
.contact_form input[type="submit"]:hover {
  background-color: #fff;
  color: rgb(25, 61, 163);
}
.related_post > h2 i {
  color: rgb(25, 61, 163);
}
.form-control:focus {
  border-color: rgb(25, 61, 163);
  box-shadow: 0 0px 1px rgb(25, 61, 163) inset, 0 0 5px rgb(25, 61, 163);
}
